In [1]:
import numpy as np
import pandas as pd

In [2]:
ventas = np.array([3000, 2000, 1600, 1400, 9000, 6000, 3500, 1000, 600, 200, 1200, 9000, 
                  400, 5200, 6400, 2000, 8400, 29500, 1800, 600, 700, 500, 1400, 23000, 
                  3600, 3200, 700, 400, 1700, 200, 800, 5000])
ventas.sum()

134000

In [3]:
soc = pd.Series(np.array((1398,25.67,11.33,7.169,96.46,7900)))

In [4]:
print(soc)

0    1398.000
1      25.670
2      11.330
3       7.169
4      96.460
5    7900.000
dtype: float64

In [6]:
soc.name = 'Socialist countries in millions'
soc

0    1398.000
1      25.670
2      11.330
3       7.169
4      96.460
5    7900.000
Name: Socialist countries in millions, dtype: float64

In [7]:
soc.dtype

dtype('float64')

In [8]:
print(soc.index)
print(soc.values)

RangeIndex(start=0, stop=6, step=1)
[1.398e+03 2.567e+01 1.133e+01 7.169e+00 9.646e+01 7.900e+03]

In [9]:
type(soc.index)

pandas.core.indexes.range.RangeIndex

In [11]:
type(soc.values)

numpy.ndarray

In [13]:
contry_names = np.array(['China', 'NorthKorea', 'Cuba', 'Laos', 'Vietnam', 'World'])

In [15]:
contry_names.nbytes

240

In [17]:
country_names = np.copy(contry_names)

In [18]:
country_names.itemsize

40

In [20]:
soc.index = country_names
print(soc)

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
World         7900.000
Name: Socialist countries in millions, dtype: float64

In [23]:
socgdp = pd.Series({'China': 143400,
                    'NorthKorea': 28.5,
                    'Cuba': 100,
                    'Laos': 18.17,
                    'Vietnam': 261.9,
                    'World': 83844}, name = 'Socialist countries total gdp in billions')

In [24]:
socarmy = pd.Series([2.81, 1.280, 0.05, 0.03, 0.484, 20.5], 
                    index = ['China', 'NorthKorea', 'Cuba', 'Laos', 'Vietnam', 'World'],
                   name = 'Socialist countries army in millions')

In [25]:
print(socarmy['China'], socgdp['China'], soc['China'])

2.81 143400.0 1398.0

In [27]:
print(socarmy[0], socgdp[0], soc[0])

2.81 143400.0 1398.0

In [28]:
soc[['China', 'Cuba']]

China    1398.00
Cuba       11.33
Name: Socialist countries in millions, dtype: float64

In [30]:
soc[[0,2]]

China    1398.00
Cuba       11.33
Name: Socialist countries in millions, dtype: float64

In [32]:
soc['China':'Vietnam']

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
Name: Socialist countries in millions, dtype: float64

In [39]:
socgdp['China'] /= 10
socgdppc = pd.Series(socgdp/soc)
socgdppc

China         10.257511
NorthKorea     1.110245
Cuba           8.826125
Laos           2.534524
Vietnam        2.715115
World         10.613165
dtype: float64

In [40]:
print(soc)
print(socgdp)
print(socgdppc)

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
World         7900.000
Name: Socialist countries in millions, dtype: float64
China         14340.00
NorthKorea       28.50
Cuba            100.00
Laos             18.17
Vietnam         261.90
World         83844.00
Name: Socialist countries total gdp in billions, dtype: float64
China         10.257511
NorthKorea     1.110245
Cuba           8.826125
Laos           2.534524
Vietnam        2.715115
World         10.613165
dtype: float64

In [41]:
socgdppc > 3

China          True
NorthKorea    False
Cuba           True
Laos          False
Vietnam       False
World          True
dtype: bool

In [42]:
socgdppc[socgdppc > 3]

China    10.257511
Cuba      8.826125
World    10.613165
dtype: float64

In [43]:
socgdppc['China':'Vietnam'].mean()

5.088704040067275

In [47]:
socgdppc[~((soc > 50) | (socarmy > 1))]

Cuba    8.826125
Laos    2.534524
dtype: float64

In [48]:
soc.name

'Socialist countries in millions'

In [52]:
soc*1000000

China         1.398000e+09
NorthKorea    2.567000e+07
Cuba          1.133000e+07
Laos          7.169000e+06
Vietnam       9.646000e+07
World         7.900000e+09
Name: Socialist countries in millions, dtype: float64

In [53]:
np.log(socgdppc)

China         2.328010
NorthKorea    0.104581
Cuba          2.177716
Laos          0.930006
Vietnam       0.998834
World         2.362095
dtype: float64