In [1]:
import numpy as np
import pandas as pd

In [2]:
ventas = np.array([3000, 2000, 1600, 1400, 9000, 6000, 3500, 1000, 600, 200, 1200, 9000, 
                  400, 5200, 6400, 2000, 8400, 29500, 1800, 600, 700, 500, 1400, 23000, 
                  3600, 3200, 700, 400, 1700, 200, 800, 5000])
ventas.sum()

134000

# Series

In [3]:
soc = pd.Series(np.array((1398,25.67,11.33,7.169,96.46,7900)))

In [4]:
print(soc)

0    1398.000
1      25.670
2      11.330
3       7.169
4      96.460
5    7900.000
dtype: float64

In [5]:
soc.name = 'Socialist countries in millions'
soc

0    1398.000
1      25.670
2      11.330
3       7.169
4      96.460
5    7900.000
Name: Socialist countries in millions, dtype: float64

In [6]:
soc.dtype

dtype('float64')

In [7]:
print(soc.index)
print(soc.values)

RangeIndex(start=0, stop=6, step=1)
[1.398e+03 2.567e+01 1.133e+01 7.169e+00 9.646e+01 7.900e+03]

In [8]:
type(soc.index)

pandas.core.indexes.range.RangeIndex

In [9]:
type(soc.values)

numpy.ndarray

In [10]:
contry_names = np.array(['China', 'NorthKorea', 'Cuba', 'Laos', 'Vietnam', 'World'])

In [11]:
contry_names.nbytes

240

In [12]:
country_names = np.copy(contry_names)

In [13]:
country_names.itemsize

40

In [14]:
soc.index = country_names
print(soc)

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
World         7900.000
Name: Socialist countries in millions, dtype: float64

In [15]:
socgdp = pd.Series({'China': 143400,
                    'NorthKorea': 28.5,
                    'Cuba': 100,
                    'Laos': 18.17,
                    'Vietnam': 261.9,
                    'World': 83844}, name = 'Socialist countries total gdp in billions')

In [58]:
socarmy = pd.Series([2.81, 1.280, 0.05, 0.03, 0.484, 20.5], 
                    index = ['China', 'NorthKorea', 'Cuba', 'Laos', 'Vietnam', 'World'],
                   name = 'Socialist countries army in millions')

In [17]:
print(socarmy['China'], socgdp['China'], soc['China'])

2.81 143400.0 1398.0

In [18]:
print(socarmy[0], socgdp[0], soc[0])

2.81 143400.0 1398.0

In [19]:
soc[['China', 'Cuba']]

China    1398.00
Cuba       11.33
Name: Socialist countries in millions, dtype: float64

In [20]:
soc[[0,2]]

China    1398.00
Cuba       11.33
Name: Socialist countries in millions, dtype: float64

In [21]:
soc['China':'Vietnam']

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
Name: Socialist countries in millions, dtype: float64

In [22]:
socgdp['China'] /= 10
socgdppc = pd.Series(socgdp/soc)
socgdppc

China         10.257511
NorthKorea     1.110245
Cuba           8.826125
Laos           2.534524
Vietnam        2.715115
World         10.613165
dtype: float64

In [23]:
print(soc)
print(socgdp)
print(socgdppc)

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
World         7900.000
Name: Socialist countries in millions, dtype: float64
China         14340.00
NorthKorea       28.50
Cuba            100.00
Laos             18.17
Vietnam         261.90
World         83844.00
Name: Socialist countries total gdp in billions, dtype: float64
China         10.257511
NorthKorea     1.110245
Cuba           8.826125
Laos           2.534524
Vietnam        2.715115
World         10.613165
dtype: float64

In [24]:
socgdppc > 3

China          True
NorthKorea    False
Cuba           True
Laos          False
Vietnam       False
World          True
dtype: bool

In [25]:
socgdppc[socgdppc > 3]

China    10.257511
Cuba      8.826125
World    10.613165
dtype: float64

In [26]:
socgdppc['China':'Vietnam'].mean()

5.088704040067275

In [27]:
socgdppc[~((soc > 50) | (socarmy > 1))]

Cuba    8.826125
Laos    2.534524
dtype: float64

In [28]:
soc.name

'Socialist countries in millions'

In [29]:
soc*1000000

China         1.398000e+09
NorthKorea    2.567000e+07
Cuba          1.133000e+07
Laos          7.169000e+06
Vietnam       9.646000e+07
World         7.900000e+09
Name: Socialist countries in millions, dtype: float64

In [30]:
np.log(socgdppc)

China         2.328010
NorthKorea    0.104581
Cuba          2.177716
Laos          0.930006
Vietnam       0.998834
World         2.362095
dtype: float64

# DataFrames

In [218]:
print(soc)
print(socgdp)
print(socgdppc)
print(socarmy)

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
World         7900.000
Name: Socialist countries in millions, dtype: float64
China         14340.00
NorthKorea       28.50
Cuba            100.00
Laos             18.17
Vietnam         261.90
World         83844.00
Name: Socialist countries total gdp in billions, dtype: float64
China         10.257511
NorthKorea     1.110245
Cuba           8.826125
Laos           2.534524
Vietnam        2.715115
World         10.613165
dtype: float64
China          2.810
NorthKorea     1.280
Cuba           0.050
Laos           0.030
Vietnam        0.484
World         20.500
Name: Socialist countries army in millions, dtype: float64

In [219]:
soc_array = soc.to_numpy()
socgdp_array = socgdp.to_numpy()
socgdppc_array = socgdppc.to_numpy()
socarmy_array = socarmy.to_numpy()

In [220]:
soc2arr = np.vstack([soc_array, socgdp_array, socgdppc_array, socarmy_array])
socdf = pd.DataFrame(soc2arr, index = ['soc', 'socgdp', 'socgdppc', 'socarmy'], 
                     columns = soc.index)
print(socdf)

                 China  NorthKorea        Cuba       Laos     Vietnam  \
soc        1398.000000   25.670000   11.330000   7.169000   96.460000
socgdp    14340.000000   28.500000  100.000000  18.170000  261.900000
socgdppc     10.257511    1.110245    8.826125   2.534524    2.715115
socarmy       2.810000    1.280000    0.050000   0.030000    0.484000

                 World
soc        7900.000000
socgdp    83844.000000
socgdppc     10.613165
socarmy      20.500000

In [221]:
socdf = socdf.T

In [222]:
type(socdf)

pandas.core.frame.DataFrame

In [223]:
socdf

                 soc    socgdp   socgdppc  socarmy
China       1398.000  14340.00  10.257511    2.810
NorthKorea    25.670     28.50   1.110245    1.280
Cuba          11.330    100.00   8.826125    0.050
Laos           7.169     18.17   2.534524    0.030
Vietnam       96.460    261.90   2.715115    0.484
World       7900.000  83844.00  10.613165   20.500

In [224]:
socdf.rename = f'Socialist Countries. {soc.name}. {socgdp.name}. {socgdppc.name}. {socarmy.name}'

In [225]:
socdf['soc']

China         1398.000
NorthKorea      25.670
Cuba            11.330
Laos             7.169
Vietnam         96.460
World         7900.000
Name: soc, dtype: float64

In [226]:
print(socdf.columns)
print()
print(socdf.index)
print()
print(socdf.info())
print()
print(socdf.size)
print()
print(socdf.shape)
print()
socdf.describe()

Index(['soc', 'socgdp', 'socgdppc', 'socarmy'], dtype='object')

Index(['China', 'NorthKorea', 'Cuba', 'Laos', 'Vietnam', 'World'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, China to World
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   soc       6 non-null      float64
 1   socgdp    6 non-null      float64
 2   socgdppc  6 non-null      float64
 3   socarmy   6 non-null      float64
dtypes: float64(4)
memory usage: 412.0+ bytes
None

24

(6, 4)

               soc        socgdp   socgdppc    socarmy
count     6.000000      6.000000   6.000000   6.000000
mean   1573.104833  16432.095000   6.009447   4.192333
std    3147.271655  33512.532562   4.338291   8.056900
min       7.169000     18.170000   1.110245   0.030000
25%      14.915000     46.375000   2.579672   0.158500
50%      61.065000    180.950000   5.770620   0.882000
75%    1072.615000  10820.475000   9.899664   2.427500
max    7900.000000  83844.000000  10.613165  20.500000

In [227]:
round(socdf.iloc[0:-1].describe())

          soc   socgdp  socgdppc  socarmy
count     5.0      5.0       5.0      5.0
mean    308.0   2950.0       5.0      1.0
std     611.0   6368.0       4.0      1.0
min       7.0     18.0       1.0      0.0
25%      11.0     28.0       3.0      0.0
50%      26.0    100.0       3.0      0.0
75%      96.0    262.0       9.0      1.0
max    1398.0  14340.0      10.0      3.0

In [228]:
socdf.dtypes

soc         float64
socgdp      float64
socgdppc    float64
socarmy     float64
dtype: object

In [229]:
socdf.dtypes.value_counts()

float64    4
dtype: int64

In [230]:
socdf.loc['NorthKorea'].to_frame()

          NorthKorea
soc        25.670000
socgdp     28.500000
socgdppc    1.110245
socarmy     1.280000

In [231]:
socdf.iloc[1].to_frame()

          NorthKorea
soc        25.670000
socgdp     28.500000
socgdppc    1.110245
socarmy     1.280000

In [232]:
socdf['socarmy'].to_frame()

            socarmy
China         2.810
NorthKorea    1.280
Cuba          0.050
Laos          0.030
Vietnam       0.484
World        20.500

In [233]:
socdf['socarmy'].to_frame()

            socarmy
China         2.810
NorthKorea    1.280
Cuba          0.050
Laos          0.030
Vietnam       0.484
World        20.500

In [234]:
socdf[['socgdp', 'socgdppc']]

              socgdp   socgdppc
China       14340.00  10.257511
NorthKorea     28.50   1.110245
Cuba          100.00   8.826125
Laos           18.17   2.534524
Vietnam       261.90   2.715115
World       83844.00  10.613165

In [235]:
# not recomended
socdf[2:]

              soc    socgdp   socgdppc  socarmy
Cuba       11.330    100.00   8.826125    0.050
Laos        7.169     18.17   2.534524    0.030
Vietnam    96.460    261.90   2.715115    0.484
World    7900.000  83844.00  10.613165   20.500

In [236]:
socdf.loc[['NorthKorea', 'Vietnam'], ['soc', 'socarmy']]

              soc  socarmy
NorthKorea  25.67    1.280
Vietnam     96.46    0.484

In [237]:
socdf.iloc[:, 2:]

             socgdppc  socarmy
China       10.257511    2.810
NorthKorea   1.110245    1.280
Cuba         8.826125    0.050
Laos         2.534524    0.030
Vietnam      2.715115    0.484
World       10.613165   20.500

In [238]:
socdf.iloc[::-1, ::-2]

            socarmy    socgdp
World        20.500  83844.00
Vietnam       0.484    261.90
Laos          0.030     18.17
Cuba          0.050    100.00
NorthKorea    1.280     28.50
China         2.810  14340.00

In [239]:
socdf.iloc[[1,2,3], [1,2,3]]

            socgdp  socgdppc  socarmy
NorthKorea   28.50  1.110245     1.28
Cuba        100.00  8.826125     0.05
Laos         18.17  2.534524     0.03

In [240]:
socdf.loc[~(soc > 100)]

               soc  socgdp  socgdppc  socarmy
NorthKorea  25.670   28.50  1.110245    1.280
Cuba        11.330  100.00  8.826125    0.050
Laos         7.169   18.17  2.534524    0.030
Vietnam     96.460  261.90  2.715115    0.484

In [241]:
socdf.loc[:,'socarmy%'] = pd.Series(socarmy/soc)

In [242]:
socdf = socdf.drop(columns = 'test')

KeyError: "['test'] not found in axis"

In [243]:
# socdf = socdf.drop(columns='socarmy%')
# socdf = socdf.drop('Laos')
# df.drop(['Italy', 'Canada'], axis=0)
# df.drop(['Population', 'HDI'], axis=1)
# df.drop(['Population', 'HDI'], axis='columns')
# df.drop(['Italy', 'Canada'], axis = 'rows')

In [244]:
socdf

                 soc    socgdp   socgdppc  socarmy  socarmy%
China       1398.000  14340.00  10.257511    2.810  0.002010
NorthKorea    25.670     28.50   1.110245    1.280  0.049864
Cuba          11.330    100.00   8.826125    0.050  0.004413
Laos           7.169     18.17   2.534524    0.030  0.004185
Vietnam       96.460    261.90   2.715115    0.484  0.005018
World       7900.000  83844.00  10.613165   20.500  0.002595

In [245]:
round(socdf.loc[:, 'socarmy'])

China          3.0
NorthKorea     1.0
Cuba           0.0
Laos           0.0
Vietnam        0.0
World         20.0
Name: socarmy, dtype: float64

In [246]:
socdf.loc[:, 'test'] = pd.Series(np.full(6,5), index = socdf.index)

In [247]:
socdf = socdf.drop('test')

KeyError: "['test'] not found in axis"

In [248]:
socdf.loc[:, ['socarmy', 'test']]*100

            socarmy  test
China         281.0   500
NorthKorea    128.0   500
Cuba            5.0   500
Laos            3.0   500
Vietnam        48.4   500
World        2050.0   500

In [249]:
socdf

                 soc    socgdp   socgdppc  socarmy  socarmy%  test
China       1398.000  14340.00  10.257511    2.810  0.002010     5
NorthKorea    25.670     28.50   1.110245    1.280  0.049864     5
Cuba          11.330    100.00   8.826125    0.050  0.004413     5
Laos           7.169     18.17   2.534524    0.030  0.004185     5
Vietnam       96.460    261.90   2.715115    0.484  0.005018     5
World       7900.000  83844.00  10.613165   20.500  0.002595     5

In [250]:
factor = pd.Series([100, 20], index = ['socarmy%', 'test'])

In [251]:
round(socdf[['socarmy%', 'test']], 4) * factor

            socarmy%  test
China           0.20   100
NorthKorea      4.99   100
Cuba            0.44   100
Laos            0.42   100
Vietnam         0.50   100
World           0.26   100

In [252]:
socdf.loc[:, 'socarmy%'] *= 100

In [258]:
socdf.loc[:, 'socarmy%'] = round(socdf.loc[:, 'socarmy%'], 4)

In [264]:
socdf

                 soc    socgdp   socgdppc  socarmy  socarmy%  test
China       1398.000  14340.00  10.257511    2.810    0.2010     6
NorthKorea    25.670     28.50   1.110245    1.280    4.9864     6
Cuba          11.330    100.00   8.826125    0.050    0.4413     6
Laos           7.169     18.17   2.534524    0.030    0.4185     6
Vietnam       96.460    261.90   2.715115    0.484    0.5018     6
World       7900.000  83844.00  10.613165   20.500    0.2595     6

In [260]:
socdf.loc[:, 'test'] = 6

In [315]:
dict1 = {
    'population': 'soc',
    'GDP': 'socgdp',
    'socgdp' : 'GDP_PC',
    'socarmy' : 'Soldiers',
    'socarmy%' : 'Soldiers_in_population',
    'test' : 'test'}

In [313]:
dict2 = {
    'China' : 'CHN',
    'KorthKorea' : "NK",
    'Cuba' : 'CUB',
    'Laos' : 'LAO',
    'Vietnam' : 'VTM',
    'World' : 'WLD'
    }

In [295]:
socdf.rename()

TypeError: 'str' object is not callable

In [277]:
socdf.rename(columns = dict1, index = dict2)

TypeError: 'str' object is not callable

In [280]:
type(socdf)

pandas.core.frame.DataFrame

In [292]:
noventas = pd.DataFrame(np.full((5,4), 90))

In [293]:
noventas

    0   1   2   3
0  90  90  90  90
1  90  90  90  90
2  90  90  90  90
3  90  90  90  90
4  90  90  90  90

In [286]:
type(noventas)

pandas.core.frame.DataFrame

In [294]:

noventas.rename(index = {0 : 'A', 1 : 'B'})

    0   1   2   3
0  90  90  90  90
1  90  90  90  90
2  90  90  90  90
3  90  90  90  90
4  90  90  90  90

In [305]:
indices = socdf.index

In [306]:
columnas = socdf.columns

In [307]:
arreglo = socdf.to_numpy()

In [308]:
socdf = pd.DataFrame(arreglo, index = indices, columns = columnas)

In [318]:
socdf.rename(index = dict2, columns = dict1)

,soc,GDP_PC,socgdppc,Soldiers,Soldiers_in_population,test
CHN,1398.000,14340.00,10.257511,2.810,0.2010,6.0
NorthKorea,25.670,28.50,1.110245,1.280,4.9864,6.0
CUB,11.330,100.00,8.826125,0.050,0.4413,6.0
LAO,7.169,18.17,2.534524,0.030,0.4185,6.0
VTM,96.460,261.90,2.715115,0.484,0.5018,6.0
WLD,7900.000,83844.00,10.613165,20.500,0.2595,6.0

In [319]:
socdf

                 soc    socgdp   socgdppc  socarmy  socarmy%  test
China       1398.000  14340.00  10.257511    2.810    0.2010   6.0
NorthKorea    25.670     28.50   1.110245    1.280    4.9864   6.0
Cuba          11.330    100.00   8.826125    0.050    0.4413   6.0
Laos           7.169     18.17   2.534524    0.030    0.4185   6.0
Vietnam       96.460    261.90   2.715115    0.484    0.5018   6.0
World       7900.000  83844.00  10.613165   20.500    0.2595   6.0

In [321]:
socdf.rename(columns = str.upper)

                 SOC    SOCGDP   SOCGDPPC  SOCARMY  SOCARMY%  TEST
China       1398.000  14340.00  10.257511    2.810    0.2010   6.0
NorthKorea    25.670     28.50   1.110245    1.280    4.9864   6.0
Cuba          11.330    100.00   8.826125    0.050    0.4413   6.0
Laos           7.169     18.17   2.534524    0.030    0.4185   6.0
Vietnam       96.460    261.90   2.715115    0.484    0.5018   6.0
World       7900.000  83844.00  10.613165   20.500    0.2595   6.0

In [323]:
socdf.rename(index = lambda x: x.lower())

                 soc    socgdp   socgdppc  socarmy  socarmy%  test
china       1398.000  14340.00  10.257511    2.810    0.2010   6.0
northkorea    25.670     28.50   1.110245    1.280    4.9864   6.0
cuba          11.330    100.00   8.826125    0.050    0.4413   6.0
laos           7.169     18.17   2.534524    0.030    0.4185   6.0
vietnam       96.460    261.90   2.715115    0.484    0.5018   6.0
world       7900.000  83844.00  10.613165   20.500    0.2595   6.0

In [326]:
socdf.drop(columns = 'test', inplace = True)

KeyError: "['test'] not found in axis"

In [327]:
socdf

                 soc    socgdp   socgdppc  socarmy  socarmy%
China       1398.000  14340.00  10.257511    2.810    0.2010
NorthKorea    25.670     28.50   1.110245    1.280    4.9864
Cuba          11.330    100.00   8.826125    0.050    0.4413
Laos           7.169     18.17   2.534524    0.030    0.4185
Vietnam       96.460    261.90   2.715115    0.484    0.5018
World       7900.000  83844.00  10.613165   20.500    0.2595